@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f5fa;
}
@layer components {
  .no-scroll {
    @apply overflow-hidden;
  }

  .custom-container {
    @apply max-w-full tablet:px-[20px] px-[8px] mx-auto tablet:w-[768px]  desktop:w-[1280px];

    @media (max-width: 479px) {
      max-width: 100%;
    }

    @media (min-width: 480px) and (max-width: 767px) {
      max-width: 480px;
    }
  }

  .burger-menu {
    @apply flex flex-col tablet:w-[365px] h-[88%] mx-auto mt-[36px] bg-[#173d33] bg-opacity-75 rounded-[25px] p-[24px];
    @media (max-width: 479px) {
      max-width: 100%;
    }

    @media (min-width: 480px) and (max-width: 767px) {
      max-width: 464px;
    }
  }
 
}


.slick-list{
  margin: 0 -5px;
}
.slick-slide{
  padding: 0 5px
}